// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


@import "banner";
@import "card";
@import "footer";
@import 'image';

.h4-eval{
color: #03045e;
font-family: sans-serif;
font-weight: bolder;
opacity: 0.9;
}

.h5-eval{
color: #03045e;
font-family: sans-serif;
font-weight: bolder;
opacity: 0.8;
}

.span{
  position: absolute;
  bottom: 15px;
  color: #0470dc;
  font-weight: bolder;
  background: white;
  text-align: center;
}
